<aside class="filter">
    <div class="filter__inner">
        <h2 class="filter__title square">Параметры</h2>

        <div class="filter__items">

            <div class="filter__item">
                <h3 class="title">Корпус <div class="tooltip_parent"></div></h3>
                <div class="btn-group btn-select btn-select--checkbox">
                    <button type="button" class="btn dropdown-toggle">
                      <span></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>                        
                            <label>
                                <input type="checkbox" class="select_all">
                                <div class="checkmark"></div>
                                <span class="input_text">Выбрать все</span>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" checked>
                                <div class="checkmark"></div>
                                <span class="input_text"><span class="input_main_text">Дом 3. </span> <span class="success">Сдан</span></span>
                            </label>
                        </li>
                         <li>
                            <label>
                                <input type="checkbox">
                                <div class="checkmark"></div>
                                <span class="input_text"><span class="input_main_text"> Дом 4. </span><span class="secondary">Cдача в 1кв. 2020 г.</span></span>
                            </label>
                        </li>
                         <li>
                            <label>
                                <input type="checkbox">
                                <div class="checkmark"></div>
                                <span class="input_text"><span class="input_main_text">Дополнительный</span> </span>
                            </label>
                        </li>
                         <li>
                            <label>
                                <input type="checkbox">
                                <div class="checkmark"></div>
                                <span class="input_text"><span class="input_main_text">Новый пункт</span> </span>
                            </label>
                        </li>
                         <li>
                    </ul>
                </div>
            </div>
    
            <div class="filter__item filter__item--range">
                <h3 class="title">Цена <div class="tooltip_parent"></div></h3>
    
                <div id="price_range"></div>
            </div>
    
            <div class="filter__item filter__item--range filter__item--blocked">
                <h3 class="title">Цена <div class="tooltip_parent"></div></h3>
    
                <div id="price_range1"></div>
            </div>
    
            <div class="filter__item">
                <h3 class="title">Комнаты <div class="tooltip_parent"></div></h3>
    
                <ul class="rectangle__list">
                    
                    <li class="rectangle__item">
                        <label>
                            <input type="checkbox">
                            <div class="rectangle">C</div>                        
                        </label>
                    </li>
    
                    <li class="rectangle__item">
                        <label>
                            <input type="checkbox">
                            <div class="rectangle">1</div>                        
                        </label>
                    </li>
    
                    <li class="rectangle__item">
                        <label>
                            <input type="checkbox">
                            <div class="rectangle">2e</div>                        
                        </label>
                    </li>
    
                    <li class="rectangle__item">
                        <label>
                            <input type="checkbox" disabled>
                            <div class="rectangle">2</div>                        
                        </label>
                    </li>
    
                    <li class="rectangle__item">
                        <label>
                            <input type="checkbox">
                            <div class="rectangle">3</div>                        
                        </label>
                    </li>
    
                    <li class="rectangle__item">
                        <label>
                            <input type="checkbox">
                            <div class="rectangle">3e</div>                        
                        </label>
                    </li>
                </ul>
            </div>
    
            <div class="filter__item">
                <h3 class="title">Этаж <div class="tooltip_parent"></div></h3>
    
                <div id="floor_range"></div>
            </div>
    
            <div class="filter__item">
                <h3 class="title">Площадь <div class="tooltip_parent"></div></h3>
    
                <div id="square_range"></div>
            </div>

        </div>

        <div class="filter__btns">
            <button class="white">Посмотреть</button>

            <div class="filter__result">
                <span class="text">Нашлось</span>
                <span class="result"><span class="counter">126 </span> квартир</span>
            </div>
        </div>
    </div>
</aside>