<div class="flats">
    <div class="flats__inner">
        
        <a href="#" class="flat">
            <div class="flat__img_wr">
                <img src="img/content/flat_1.svg" alt="" class="flat__img">
            </div>
            
            <div class="flat__info">
                <div class="flat__info_item">1к.кв</div>
                <div class="flat__info_item">36,3 м2</div>
                <div class="flat__info_item flat__info_item--status flat__info_item--status_list">Корпус 3</div>
                <div class="flat__info_item flat__info_item--floor">2 этаж</div>
                <div class="flat__info_item flat__info_item--price">10 768 000 ₽</div>
                <div class="flat__info_item flat__info_item--status">Корпус 3 - 1 кв. 2020 г.</div>
            </div>
        </a>

        <a href="#" class="flat">
            <div class="flat__img_wr">
                <img src="img/content/flat_1.svg" alt="" class="flat__img">
            </div>
            
            <div class="flat__info">
                <div class="flat__info_item">1к.кв</div>
                <div class="flat__info_item">36,3 м2</div>
                <div class="flat__info_item flat__info_item--status flat__info_item--status_list">Корпус 3</div>
                <div class="flat__info_item flat__info_item--floor">2 этаж</div>
                <div class="flat__info_item flat__info_item--price">10 768 000 ₽</div>
                <div class="flat__info_item flat__info_item--status">Корпус 3 - 1 кв. 2020 г.</div>
            </div>
        </a>

        <a href="#" class="flat">
            <div class="flat__img_wr">
                <img src="img/content/flat_2.svg" alt="" class="flat__img">
            </div>
            
            <div class="flat__info">
                <div class="flat__info_item">1к.кв</div>
                <div class="flat__info_item">36,3 м2</div>
                <div class="flat__info_item flat__info_item--status flat__info_item--status_list">Дом 3</div>
                <div class="flat__info_item flat__info_item--floor">2 этаж</div>
                <div class="flat__info_item flat__info_item--price">10 768 000 ₽</div>
                <div class="flat__info_item flat__info_item--status">Корпус 3 - 1 кв. 2020 г.</div>
            </div>
        </a>

        <a href="#" class="flat">
            <div class="flat__img_wr">
                <img src="img/content/flat_1.svg" alt="" class="flat__img">
            </div>
            
            <div class="flat__info">
                <div class="flat__info_item">1к.кв</div>
                <div class="flat__info_item">36,3 м2</div>
                <div class="flat__info_item flat__info_item--status flat__info_item--status_list">Корпус 3</div>
                <div class="flat__info_item flat__info_item--floor">2 этаж</div>
                <div class="flat__info_item flat__info_item--price">10 768 000 ₽</div>
                <div class="flat__info_item flat__info_item--status">Корпус 3 - 1 кв. 2020 г.</div>
            </div>
        </a>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item page-item--arrow">
                <a class="page-link" href="#">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8 15L1 8L8 1" stroke="#E54B4C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                    
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item page-item--arrow">
                <a class="page-link" href="#">
                    <svg width="9" height="16" viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 15L8 8L1 1" stroke="#E54B4C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>                        
                </a>
            </li>
        </ul>
      </nav>
</div>