@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans-Light.woff);
    font-style: normal;
    font-weight:300;
    font-display: swap;
}
@font-face {
    font-family: FiraSans;
    src: url(../fonts/FiraSans-Regular.woff);
    font-style: normal;
    font-weight:400;
    font-display: swap;
 }
@font-face {
   font-family: FiraSans;
   src: url(../fonts/FiraSans-Medium.woff);
   font-style: normal;
   font-weight:500;
   font-display: swap;
}